@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:"poppins";

}

header{
   margin-top: 47px;   
   margin-left: 42px;
   


}

.link-menu{ 
    font-weight: 400;
    font-size: 14px;  
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color:#172330;
    margin-right: 32px;
    cursor: pointer;
}
.button-sign-up{
    background: #67eb0f;
    border: 1px solid #6fbf77;
    border-radius:6px;
    width: 124px;
    height: 51px;
    cursor:pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color:#ffffff

}
img{
    margin:163px 0 0 123px;
    width: 300px;




}
h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 82px;
    letter-spacing: 0,596154px;
    color: #161a49;
}
p{
   font-weight: 400;
   font-size: 18px;
   line-height: 33px;
   letter-spacing: 0,5;



}
.larn-more-up{
  
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: #6FBF44;
    border-radius:6px;




}   













