p {
  color: red;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
}

button {
  background-color: rgb(23, 226, 16);
  color: rgb(197, 5, 5);
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
img {
  height: 100px;
}
.mario {
  height: 500px;
}
body {
  display: flex;
  align-items: end;
  padding: 100px;
  justify-content: space-around;
  height: 100vh;
}
.caixa-mae {
  display: flex;
  align-items: end;
  padding: 100px;
  justify-content: space-around;
}
.video-container {
  position: fixed;
  z-index: -1;
  top: 0;
}
video {
  width: 100vw;
}
